---
import Layout from "../layouts/Layout.astro";
import CommunitySection from "../components/CommunitySection.astro";
---

<Layout>
  <main class="bg-primary-dark">
    <CommunitySection />
  </main>
</Layout>
