---
import Logo from "./Logo.astro";
import MobileMenu from "./MobileMenu.jsx";

const actionButtons = [
  {
    href: "https://forms.gle/3Bi1DPwRsVLT4mUD9",
    text: "Quero participar",
    isExternal: true,
  },
];
---

<header class="bg-primary-dark font-montserrat sticky top-0 z-30">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between min-h-[104px]">
      <div class="flex-shrink-0" style="margin-bottom: 10px;margin-top: 10px";>
        <Logo />
      </div>

      <div class="hidden md:flex items-center gap-x-4">
        {
          actionButtons.map((button) => (
            <a
              href={button.href}
              target="_blank"
              class=" block border border-main-text rounded-full px-8 py-3 font-bold text-nav text-main-text whitespace-nowrap hover:bg-main-text/10 transition-colors"
            >
              {button.text}
            </a>
          ))
        }
      </div>
      <MobileMenu client:load buttons={actionButtons} />
    </div>
  </div>
</header>
