---
import DesktopIllustration from "../assets/how-it-works-desktop.svg?raw";
import MobileIllustration from "../assets/how-it-works-mobile.svg?raw";
---

<section class="bg-surface-light text-text-dark py-16 sm:py-20 lg:py-28">
  <div class="container mx-auto px-6">
    <div class="space-y-12">
      <div
        class="max-w-lg mx-auto md:max-w-xl lg:max-w-3xl lg:mx-0 lg:-translate-x-24 transition-transform duration-300"
      >
        <div class="text-center lg:text-left">
          <h2
            class="font-display font-bold text-accent-pink
              mb-6 leading-tight
              
              /* Escada de Fontes de 3 Níveis */
              text-4xl md:text-5xl lg:text-heading-lg lg:leading-[81px]"
          >
            Como funciona?
          </h2>
          <p
            class="font-montserrat text-text-dark
              
              /* Escada de Fontes de 3 Níveis para o Parágrafo */
              text-base md:text-lg lg:text-body-lg lg:leading-[27px]"
          >
            A comunidade se propõe conectar pessoas da área de tecnologia,
            oferecendo trilhas profissionais e roadmaps de carreira. O objetivo
            é ajudar quem quer entrar ou crescer na área, compartilhando
            conhecimento, oportunidades e experiências de forma colaborativa.
          </p>
        </div>
      </div>

      <div class="w-full flex justify-center">
        <div class="hidden lg:block max-w-4xl">
          <Fragment set:html={DesktopIllustration} />
        </div>
        <div class="lg:hidden max-w-sm md:max-w-md">
          <Fragment set:html={MobileIllustration} />
        </div>
      </div>
    </div>
  </div>
</section>
