<a href="/" aria-label="Página Inicial Hive Connect">
  <svg
    width="227"
    height="104"
    viewBox="0 0 227 104"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_70_56)">
      <path
        d="M175.088 46.0811L176.155 47.9287L175.088 49.7762H172.955L171.888 47.9287L172.955 46.0811H175.088Z"
        fill="#E6F5F2"></path>
      <path d="M132.383 49.8098V25.1229H136.235V49.8098H132.383Z" fill="#E6F5F2"
      ></path>
      <path
        d="M150.577 25.1253H154.499L148.377 49.7762H145.143L139.021 25.1253H142.873L146.037 39.0144L146.795 43.6225L147.516 39.0144L150.577 25.1253Z"
        fill="#E6F5F2"></path>
      <path
        d="M168.978 28.4946H161.137V35.336H166.911V38.7053H161.137V46.407H168.978V49.7762H157.318V25.1253H168.978V28.4946Z"
        fill="#E6F5F2"></path>
      <path
        d="M127.601 76.8474C126.192 77.9808 123.715 78.8747 121.891 78.8747C116.836 78.8747 114.29 76.5718 114.29 72.824V59.6203C114.29 55.906 116.733 53.5696 121.1 53.5696C123.404 53.5696 125.434 54.1878 127.153 55.3908V61.1324H123.576V57.3845C122.546 57.0754 121.685 56.9364 121.031 56.9364C119.106 56.9364 118.142 57.8638 118.142 59.6874V72.7521C118.142 74.5397 119.724 75.503 121.891 75.503C123.267 75.503 125.055 74.7123 125.916 74.0581L127.601 76.8426V76.8474Z"
        fill="#E6F5F2"></path>
      <path
        d="M130.18 72.7904V59.6562C130.18 55.9779 132.76 53.5696 136.715 53.5696C140.67 53.5696 143.456 56.045 143.456 59.6562V72.7904C143.456 76.4017 140.74 78.8771 136.715 78.8771C132.69 78.8771 130.18 76.4712 130.18 72.7904ZM139.57 72.7569V59.6922C139.57 57.871 138.606 56.9412 136.715 56.9412C134.96 56.9412 134.066 57.8686 134.066 59.6922V72.7569C134.066 74.5781 134.96 75.5078 136.715 75.5078C138.606 75.5078 139.57 74.5805 139.57 72.7569Z"
        fill="#E6F5F2"></path>
      <path
        d="M151.196 66.7733L150.817 71.7576C150.851 71.4485 151.023 70.6912 151.299 69.4547C151.575 68.2518 151.85 67.2885 152.124 66.5672L156.939 53.8811H161.17V78.532H157.491V64.849L157.903 59.8647C157.56 62.031 157.078 63.8881 156.458 65.3666L151.16 78.5344H147.444V53.8835H151.193V66.7757L151.196 66.7733Z"
        fill="#E6F5F2"></path>
      <path
        d="M175.651 53.8811H179.4V78.532H175.685L170.387 65.3642C169.769 63.8857 169.287 62.0286 168.942 59.8623L169.354 64.8466V78.5296H165.674V53.8787H169.905L174.721 66.5648C174.997 67.2861 175.273 68.2494 175.546 69.4523C175.822 70.6912 175.994 71.4461 176.028 71.7552L175.649 66.7709V53.8787L175.651 53.8811Z"
        fill="#E6F5F2"></path>
      <path
        d="M195.564 57.2503H187.723V64.0918H193.498V67.461H187.723V75.1628H195.564V78.532H183.905V53.8811H195.564V57.2503Z"
        fill="#E6F5F2"></path>
      <path
        d="M227 53.8811V57.2503H221.772V78.532H217.92V57.2503H212.692V53.8811H227Z"
        fill="#E6F5F2"></path>
      <path
        d="M205.917 75.5054C203.75 75.5054 202.168 74.5421 202.168 72.7545V59.9989C202.168 58.2112 203.75 57.2479 205.917 57.2479C207.293 57.2479 209.082 58.0387 209.942 58.6929L211.627 55.9084C210.218 54.7749 207.742 53.8811 205.917 53.8811C200.862 53.8811 198.316 56.184 198.316 59.9318V72.824C198.316 76.5718 200.862 78.8747 205.917 78.8747C207.739 78.8747 210.215 77.9808 211.627 76.8474L209.942 74.0629C209.082 74.7171 207.293 75.5078 205.917 75.5078V75.5054Z"
        fill="#E6F5F2"></path>
      <path
        d="M123.991 25.1257V34.4066V34.79L118.142 36.1367V34.4066V25.1257H114.29V49.7765H118.142V39.3334L123.991 37.9867V49.7765H127.877V25.1257H123.991Z"
        fill="#E6F5F2"></path>
      <path
        d="M93.0801 49.527L77.8009 40.7086C77.5636 40.572 77.2711 40.572 77.0338 40.7086L62.0758 49.3425L47.439 40.8931V23.6061C47.439 23.3329 47.2928 23.0789 47.0555 22.9423L31.7762 14.1239C31.5389 13.9873 31.2465 13.9873 31.0091 14.1239L15.7299 22.9423C15.4926 23.0789 15.3464 23.3329 15.3464 23.6061V40.8931L0.383539 49.527C0.146224 49.6636 0 49.9176 0 50.1908V67.8276C0 68.1008 0.146224 68.3548 0.383539 68.4914L15.3416 77.1253V94.4123C15.3416 94.6855 15.4878 94.9395 15.7251 95.0761L31.0043 103.895C31.1218 103.964 31.256 103.998 31.3879 103.998C31.5197 103.998 31.654 103.964 31.7714 103.895L47.0507 95.0761C47.288 94.9395 47.4342 94.6855 47.4342 94.4123V77.1253L62.071 68.6759L77.029 77.3099C77.1465 77.3793 77.2807 77.4129 77.4126 77.4129C77.5444 77.4129 77.6787 77.3793 77.7961 77.3099L93.0754 68.4914C93.3127 68.3548 93.4589 68.1008 93.4589 67.8276V50.1908C93.4589 49.9176 93.3127 49.6636 93.0754 49.527H93.0801ZM16.8757 24.0494L31.3879 15.6743L45.9 24.0494V40.802L31.3879 49.1771L16.8757 40.802V24.0494ZM1.53416 67.3867V50.6341L16.0463 42.259L30.5585 50.6341V67.3867L16.0463 75.7618L1.53416 67.3867ZM45.9024 93.9714L31.3903 102.349L16.8781 93.9714V77.2188L31.3903 68.8437L45.9024 77.2188V93.9714ZM61.2464 67.3867L46.7342 75.7618L32.2221 67.3867V50.6341L46.7342 42.259L61.2464 50.6341V67.3867ZM91.9295 67.3867L77.4174 75.7618L62.9052 67.3867V50.6341L77.4174 42.259L91.9295 50.6341V67.3867Z"
        fill="#E6F5F2"></path>
      <path
        d="M64.8876 22.463L77.0338 29.4723C77.1537 29.5417 77.2855 29.5753 77.4174 29.5753C77.5492 29.5753 77.6811 29.5417 77.8009 29.4723L89.9471 22.463C90.1844 22.3265 90.3307 22.0724 90.3307 21.7993V7.77843C90.3307 7.50525 90.1844 7.25124 89.9471 7.11465L77.8009 0.103041C77.5636 -0.0335486 77.2711 -0.0335486 77.0338 0.103041L64.8876 7.11226C64.6503 7.24885 64.5041 7.50286 64.5041 7.77604V21.7969C64.5041 22.07 64.6503 22.3241 64.8876 22.4606V22.463ZM66.0382 8.21935L77.4174 1.65106L88.7965 8.21935V21.3535L77.4174 27.9218L66.0382 21.3535V8.21935Z"
        fill="#E6F5F2"></path>
      <path
        d="M43.2536 57.4636L44.7327 56.2127C44.7926 56.1624 44.8309 56.0881 44.8333 56.0066C44.8357 55.9276 44.807 55.8509 44.7494 55.7934C43.9224 54.9666 42.3955 54.461 41.0363 54.5617C39.9528 54.6407 39.0898 55.0793 38.5361 55.8245L38.5265 55.8389C38.0759 56.426 38.131 56.9244 38.2557 57.2359C38.457 57.7392 38.9556 58.113 39.6604 58.2879C39.936 58.3574 40.2477 58.3934 40.5809 58.3934C41.4582 58.3934 42.4674 58.1274 43.256 57.4588L43.2536 57.4636ZM39.797 57.7392C39.2744 57.6098 38.9149 57.3558 38.783 57.0275C38.6799 56.7711 38.7447 56.4883 38.9772 56.1864L38.994 56.1648C39.5645 55.3956 40.4418 55.1775 41.0795 55.1296C41.1801 55.1224 41.2808 55.1176 41.3815 55.1176C42.3715 55.1176 43.4358 55.4579 44.1142 55.9899L42.8869 57.0275C41.9592 57.8135 40.636 57.9453 39.797 57.7368V57.7392Z"
        fill="#E6F5F2"></path>
      <path
        d="M54.9396 55.8413L54.93 55.8269C54.3763 55.0817 53.5133 54.6431 52.4298 54.5641C51.0682 54.4634 49.5413 54.969 48.7167 55.7958C48.6615 55.8509 48.6304 55.93 48.6328 56.009C48.6352 56.0881 48.6735 56.1624 48.7334 56.2151L50.2125 57.466C51.0011 58.1322 52.0103 58.4006 52.8876 58.4006C53.2184 58.4006 53.5325 58.3622 53.8081 58.2951C54.5129 58.1202 55.0115 57.7464 55.2128 57.2431C55.3375 56.9292 55.3926 56.4332 54.942 55.8461L54.9396 55.8413ZM54.6807 57.0275C54.5488 57.3558 54.1893 57.6098 53.6667 57.7392C52.8301 57.9476 51.5045 57.8135 50.5768 57.0299L49.3495 55.9923C50.0974 55.4076 51.3175 55.0529 52.3866 55.132C53.0219 55.1799 53.9016 55.398 54.4721 56.1672L54.4889 56.1888C54.719 56.4907 54.7838 56.7735 54.6831 57.0299L54.6807 57.0275Z"
        fill="#E6F5F2"></path>
      <path
        d="M46.7894 67.8229L47.5181 65.7189H46.0607L46.7894 67.8229Z"
        fill="#E6F5F2"></path>
      <path
        d="M41.9113 58.9229C41.3096 59.2057 40.8494 59.6059 40.5425 60.1139C39.7874 61.3624 40.0583 63.1596 41.2161 64.5902C41.2713 64.6597 41.3552 64.6957 41.4367 64.6957C41.499 64.6957 41.5637 64.6741 41.6164 64.6334C41.7387 64.5351 41.7579 64.3554 41.6596 64.2332C40.6528 62.9895 40.4011 61.4511 41.0315 60.4087C41.2808 59.9989 41.6572 59.673 42.1558 59.4382C42.2972 59.3711 42.3595 59.2009 42.2924 59.0595C42.2253 58.9182 42.0551 58.8559 41.9137 58.9229H41.9113Z"
        fill="#E6F5F2"></path>
      <path
        d="M51.5548 58.9229C51.4134 58.8559 51.2432 58.9182 51.1761 59.0595C51.109 59.2009 51.1713 59.3711 51.3127 59.4382C51.8113 59.673 52.1877 59.9989 52.437 60.4087C53.0674 61.4511 52.8157 62.9895 51.8089 64.2332C51.7107 64.3554 51.7298 64.5351 51.8521 64.6334C51.9048 64.6765 51.9671 64.6957 52.0319 64.6957C52.1158 64.6957 52.1973 64.6597 52.2524 64.5902C53.4102 63.1596 53.6811 61.36 52.926 60.1139C52.6192 59.6059 52.1589 59.2057 51.5572 58.9229H51.5548Z"
        fill="#E6F5F2"></path>
      <path
        d="M42.7431 60.09C42.6448 60.5812 42.616 61.1324 42.7335 61.7386C42.7335 61.7482 42.7407 61.7674 42.7455 61.7961H50.7207C50.7279 61.7698 50.7303 61.7482 50.7327 61.7386C50.8501 61.1324 50.8214 60.5812 50.7231 60.09H42.7431Z"
        fill="#E6F5F2"></path>
      <path
        d="M43.4167 58.3287C43.3879 58.3838 43.3591 58.4413 43.3304 58.4988H50.1382C50.1094 58.4389 50.0783 58.3814 50.0519 58.3287C49.7571 57.7535 49.3304 57.224 48.9229 56.7926H44.5481C44.1406 57.224 43.7139 57.7535 43.4191 58.3287H43.4167Z"
        fill="#E6F5F2"></path>
      <path
        d="M44.8382 64.7532C44.8382 64.7532 44.8478 64.758 44.8502 64.7604C45.1402 64.9329 45.459 65.0431 45.7898 65.0935H47.6764C48.0072 65.0431 48.326 64.9329 48.616 64.7604C48.6208 64.758 48.6256 64.7556 48.628 64.7532C49.2609 64.3746 49.7115 63.8737 50.0279 63.3897H43.4359C43.7523 63.8737 44.2029 64.3746 44.8358 64.7532H44.8382Z"
        fill="#E6F5F2"></path>
      <path
        d="M44.2245 50.67C44.8717 51.0822 45.3224 51.7412 45.5021 52.4817C45.0563 52.786 44.7614 53.2988 44.7614 53.8811V55.144L46.7319 56.2822L48.7023 55.144V53.8811C48.7023 53.2988 48.4098 52.786 47.9616 52.4817C48.1414 51.7412 48.592 51.0822 49.2392 50.67C49.5101 50.4975 49.2584 50.0662 48.9875 50.2387C48.2636 50.7012 47.7243 51.4321 47.5013 52.2612C47.3455 52.2133 47.1777 52.1869 47.0051 52.1869H46.4562C46.2836 52.1869 46.1182 52.2133 45.96 52.2612C45.7371 51.4321 45.1977 50.7012 44.4738 50.2387C44.2029 50.0662 43.9512 50.4975 44.2221 50.67H44.2245Z"
        fill="#E6F5F2"></path>
    </g>
    <defs>
      <clipPath id="clip0_70_56">
        <rect width="227" height="104" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
